<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://talenttask-talentslot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>talenttask-talentslot.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>talenttask__TalentSlot</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$talenttask__TalentSlot</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TalentEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=talenttask.database.windows.net;Initial Catalog=Talent_Onboarding_Task;User ID=talent;Password=Access@Server;Application Name=EntityFramework" Name="Data Source=talenttask.database.windows.net;Initial Catalog=Talent_Onboarding_Task;User ID=talent;Password=Access@Server;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=HASSAN\SQLEXPRESS01;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TalentEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ModelDB.csdl|res://*/ModelDB.ssdl|res://*/ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HASSAN\SQLEXPRESS01;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TalentEntity" Order="3" Enabled="False">
          <Destination Path="Data Source=talenttask.database.windows.net;Initial Catalog=Talent_Onboarding_Task;User ID=talent;Password=Access@Server;Application Name=EntityFramework" Name="Data Source=talenttask.database.windows.net;Initial Catalog=Talent_Onboarding_Task;User ID=talent;Password=Access@Server;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ReactAspNet.TalentEntity, ReactAspNet" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="Data Source=talenttask.database.windows.net;Initial Catalog=Talent_Onboarding_Task;User ID=talent;Password=Access@Server;Application Name=EntityFramework" Name="Data Source=talenttask.database.windows.net;Initial Catalog=Talent_Onboarding_Task;User ID=talent;Password=Access@Server;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ReactAspNet.Models.ApplicationDbContext, ReactAspNet" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=talenttask.database.windows.net;Initial Catalog=Talent_Onboarding_Task;User ID=talent;Password=Access@Server;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TalentEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ModelDB.csdl|res://*/ModelDB.ssdl|res://*/ModelDB.msl;provider=System.Data.SqlClient;provider connection string="data source=talenttask.database.windows.net;initial catalog=Talent_Onboarding_Task;user id=talent;password=Access@Server;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TalentEntity-Web.config Connection String">
      <ParameterValue>metadata=res://*/MyModelDB.csdl|res://*/MyModelDB.ssdl|res://*/MyModelDB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=talenttask.database.windows.net;Initial Catalog=Talent_Onboarding_Task;User ID=talent;Password=Access@Server;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>