/*.ui.page.modals.dimmer.transition.visible.active {
display:flex !important;
}*/
.ui.modal:not(.compact) {
width: calc(45% - 50px) !important;
margin-left: 250px !important;
height: calc(55% - 50px) !important;
margin-top: 85px !important;
padding: 1px 1px 1px 1px;

}
#action1{
    background-color:aquamarine;
    height: calc(70% - 50px) !important;
}